<footer id="footer" class="site-footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>

  <div class="clearfix container">
      <div class="site-info">
	      &copy; <%= date(new Date(), 'YYYY') %> <%= config.title || config.author %> All Rights Reserved.
        <% if (theme.busuanzi_analytics){ %>
            <span id="busuanzi_container_site_uv">
              本站访客数<span id="busuanzi_value_site_uv"></span>人次  
              本站总访问量<span id="busuanzi_value_site_pv"></span>次
            </span>
          <% } %>
      </div>
      <div class="site-credit">
        <%= __('theme_by') %> <a href="https://github.com/iTimeTraveler/hexo-theme-hipaper" target="_blank">hipaper</a>
      </div>
  </div>
</footer>

<!-- async load function -->
<script>
  function async(u, c) {
      let d = document,
          t = "script",
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) {
          o.addEventListener(
              "load",
              function (e) {
                  c(null, e);
              },
              false
          );
      }
      s.parentNode.insertBefore(o, s);
  }
</script>

<!-- dark mode -->
<script>
  const html = document.getElementsByTagName("html")[0];
  const toggleTheme = () => {
      if (html.getAttribute("theme") == "light")
          html.setAttribute("theme", "dark");
      else html.setAttribute("theme", "light");
  };
</script>

<!-- min height -->
<script>
    var wrapdiv = document.getElementById("wrap");
    var contentdiv = document.getElementById("content");

    wrapdiv.style.minHeight = document.body.offsetHeight - document.getElementById("allheader").offsetHeight - document.getElementById("footer").offsetHeight + "px";
    contentdiv.style.minHeight = document.body.offsetHeight - document.getElementById("allheader").offsetHeight - document.getElementById("footer").offsetHeight + "px";


    <!-- headerblur min height -->
    <% if (is_current("about", false) && theme.about_big_image){ %>
      var headerblur = document.getElementById("header-blur");
      headerblur.style.minHeight = window.getComputedStyle(document.getElementById("allheader"), null).height;
    <% } %>
    
</script>
